<div class="card-panel teal lighten-5">

  <div>
    <h5 class="center-align">

    <div class="card-panel">
    <span class="blue-text text-darken-2"> 
 
      
<table border="1">

    <div>
    <h1>Menu de comida</h1>
    <caption>Platillos disponibles</caption>
<thead>
    <tr>
        <th>platillo</th>
        <th>ingredientes</th>
        <th>precio</th>
        </tr>
        </thead>

<div>
    <tr>
    <td>
        <form action="#">
    <p>
  <form action="#">
    <p>
      <label>
        <input type="checkbox" />
        <span>Torta</span>
        <img class="responsive-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQhUtqT71QotAY8skjMHalc3Un6LnU0DnSZQ&usqp=CAU">
      </label>
    </p>
    </td>
    <td>pan, jamon, lechuga, crema</td>
    <td>$25</td>
</tr>

<tr>
    <td>
          <p>
  <form action="#">
    <p>
      <label>
        <input type="checkbox" />
        <span>Licuado de fresa</span>
      <img class="responsive-img" src="https://www.gastrolabweb.com/u/fotografias/m/2021/10/10/f260x146-19956_25396_5050.jpg">
      </label>
    </p>
    </td>
    <td>leche, fresas, azucar</td>
    <td>$15</td>
</tr>

<tr>
    <td>
          <p>
  <form action="#">
    <p>
      <label>
        <input type="checkbox" />
        <span>Maruchan camaron</span>
        <img class="responsive-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWJMvb5pDKQEsjlPVM2IxbzvuV0UN0loU7PQ&usqp=CAU">
      </label>
    </p>
    </td>
    <td>pasta, agua, limon, camaron</td>
    <td>$20</td>
</tr>

</div>



      </span>
  </div>

    </h5>
  </div>

</div>
<div>
<a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Finalizar pedido</a>

</div>

            
