<div class="card-panel teal lighten-5">

  <div>
    <h5 class="center-align">

    <div class="card-panel">
    <span class="blue-text text-darken-2"> 
      <h5>Pagina creada por Daniel Cuamatzi con Materialize</h5>
      </span>
  </div>

    </h5>
  </div>



<p>Version: {{appVersion}}</p>
</div>